.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.errorPage-title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.errorPage-content span {
  font-weight: 700;
}

.errorPage-small {
  font-style: italic;
  color: #6e6e6e;
}

@media (width < 600px) {
  .errorPage-content {
    text-align: center;
    padding: 0 3rem;
  }
}
