.title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;
}

.title::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  background: var(--primary-color);
  border-radius: 20px;
  width: 3rem;
  height: 5px;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translate(-50%);
}

@media (width < 400px) {
  .title {
    font-size: 1.8rem;
  }
}
