:root {
  --primary-color: #1bab1f;
  --secundary-color: #8fda91;
  --background: #f0f0f0;
}

body {
  background-color: var(--background);
  color: #000000;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--secundary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
